.gui-container {
	width: 250px;
	display: flex;
	flex-direction: column;
	transition: 0.2s;
	margin: 20px;
	color: white;

	background: rgba(110, 110, 110, 0.2);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border-radius: 10px;
	border: 0px solid rgba(255, 255, 255, 0.3);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
}
.gui-container:hover{
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.6);
	transition: 0.2s;
}
.gui-header {
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: black;
	border-radius: 10px 10px 0px 0px;
}
.gui-header-icon {
	width: 50px;
	height: 50px;
}
.gui-element{
	display:flex;
	flex: 1;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	font-size: 15px;
	font-family: arial;
	font-weight: bold;
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-bottom: none;
	transition: 0.2s;
}
.gui-element:hover{
	background: rgba(211, 211, 211, 0.2);
	transition: 0.2s;
}
.gui-element:last-child {
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 0px 0px 10px 10px;
}
select,::picker(select) {
  appearance: base-select;
}
select::picker-icon {
  color: gray;
  transition: 0.2s rotate;
}
select:open::picker-icon {
	color: lightgray;
	rotate: 60deg;
}
::picker(select) {
  background: rgba(255, 255, 255, 0.2);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.8);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.3);
	color: lightgray;
	font-size: 20px;
	font-weight: normal;
}
::checkmark {
	display: none;
}
.dropdown-element{
	width: 150px;
	height: 50px;
	padding: 10px;
	border-style:none;
	color: white;
	font-size: 15px;
	background: rgba(110, 110, 110, 0.2);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border-radius: 10px;
	border: 0px solid rgba(255, 255, 255, 0.3);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
}
.dropdown-element:hover{
	cursor: pointer;
	transition: 0.2s;

	background: rgba(2, 2, 2, 0.397);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border-radius: 10px;
	border: 0px solid rgba(255, 255, 255, 0.3);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
}
