.gui-volume-container {
  	width: 90px;
	display: flex;
	flex-direction: column;
	background: rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border-radius: 10px;
	border: 0px solid rgba(255, 255, 255, 0.3);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
	transition: 0.2s;
	margin:20px;
}
.gui-volume-container:hover{
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.6);
	transition: 0.2s;
}
.gui-volume-header {
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: black;
	border-radius: 10px 10px 0px 0px;
}
.gui-volume-header-icon {
	width: 50px;
	height: 50px;
}
.volume-element { 	
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 0px 0px 10px 10px;
	height: 270px;
}
.volume-slider {
	-webkit-appearance: none;
	appearance: none;
	height: 250px; 
	width: 10px;
	background: #d3d3d3;
	outline: none; 
	border-radius: 5px;
	opacity: 0.7; 
	-webkit-transition: .2s; 
	transition: opacity .2s;
	writing-mode: vertical-lr;
}
.volume-slider:hover {
  opacity: 1;
}
.volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 20px; 
  height: 20px; 
  border-radius: 10px;
  background: black;
  cursor: pointer; 
}

.volume-slider::-moz-range-thumb {
  width: 20px; 
  height: 20px; 
  background: #04AA6D; 
  cursor: pointer; 
}
.volume-element {
	display:flex;
	padding: 10px;
}
.percentages {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
	margin-left: 10px;
	color: white;
	font-family: arial;
}